.footer{
    width: 100%;
    background-color:  #6b6b70;
    margin-top:10%;
    font-family: 'Archivo', sans-serif;
}
.footerInfo{
    width: 80%;
    padding: 0 0 0 10%;
    color: white;
    padding-top: 50px;
}
.product{
    display: flex;
}
.product img{
     margin-right: 10%;
}
.naming{
    margin: 0 0 1% 45%;
    padding-top: 2%;
}
.socialIcon{
    width: 25px;
}
.line{
    margin-left: 35%;
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.adress{
    line-height: 30px;
}
.line2{
    display: flex;
    justify-content: space-between;
}
.chapter{
    font-size: 23px;
    font-weight: bold;
}
.social-text{
    margin-left: 40px;
    margin-top: -27px;
}
.wh{
    line-height: 22px;
}